{$title}
<br>
<h1>Furuuuuuuuuuuuuuuuuuuuuuuutie</h1>

<!-- catalog.latte -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<ul>
    {foreach $array_fruits as $fruit}
        <li>{$fruit}</li>
    {/foreach}

</ul>
</body>
</html>
